
#CenterBox{font-size:12px;font-family:Verdana;position:absolute;width:400px;margin-left:-215px;padding:15px;left:50%;border:thin solid black;background:white; 
color:black;background-color: rgba(255, 255, 255, 0.2);-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;}

#CenterBox>h1{font-size:24px;color:#FFF;text-shadow: 1px 1px 3px #222;}

#CanonicalURL {margin-top:20px;}
#CanonicalURL .myInput{padding:3px;-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-box-shadow: inset 0px 4px 8px 2px , 0.4);-moz-box-shadow: inset 0px 4px 8px 2px , 0.4);
box-shadow: inset 0px 4px 8px 2px , 0.4);width:350px;height: 20px;}
#CanonicalURL .myButton{-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;height: 30px;width: 35px;}


#Password {margin-top:5px; display:none;}
#Password .myPasswordInput{padding:3px;-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;
	-webkit-box-shadow: inset 0px 4px 8px 2px , 0.4);-moz-box-shadow: inset 0px 4px 8px 2px , 0.4);box-shadow: inset 0px 4px 8px 2px , 0.4);
	width:316px;height: 20px;}
#Password .myResetButton{-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;height: 30px;width: 55px;}

#presentationURL {margin-top:20px; display:none;}
#presentationURL .myURLInput{padding:3px;-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;
	-webkit-box-shadow: inset 0px 4px 8px 2px , 0.4);-moz-box-shadow: inset 0px 4px 8px 2px , 0.4);box-shadow: inset 0px 4px 8px 2px , 0.4);
	width:390px; height: 20px;}


#NodeServerURL {margin-top:20px; display:none;}
#NodeServerURL .myURLInput{padding:3px;-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;
	-webkit-box-shadow: inset 0px 4px 8px 2px , 0.4);-moz-box-shadow: inset 0px 4px 8px 2px , 0.4);box-shadow: inset 0px 4px 8px 2px , 0.4);
	width:350px; height: 20px;}
#NodeServerURL .myButton{-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;height: 30px;width: 35px;}

#NodeServerURL  #NodeServerURLsaved{margin-top:20px;background-color:rgba(255, 255, 255, 0.2);padding: 5px;
-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px; width:388px;}
#NodeServerURLsaved .myRemButton{position:relative;right: auto;height: 20px;width: 20px;border-style:none;float:right;
background: rgba(255, 255, 255, 0.2);-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;}
#NodeServerURLsaved #serverValue{
display:block;
text-align:left;
padding-top:3px;
height: 17px;
}

#presenterStartButton2{
margin-top:20px;
padding:3px;-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;
	-webkit-box-shadow: inset 0px 4px 8px 2px , 0.4);-moz-box-shadow: inset 0px 4px 8px 2px , 0.4);box-shadow: inset 0px 4px 8px 2px , 0.4);
	width:200px; height: 35px;
}
#presenterStartButton {margin-top:20px;
padding:3px;-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;
	-webkit-box-shadow: inset 0px 4px 8px 2px , 0.4);-moz-box-shadow: inset 0px 4px 8px 2px , 0.4);box-shadow: inset 0px 4px 8px 2px , 0.4);
	width:400px; height: 35px;display:none;}
	
#LoadingBG{display:none;position:absolute;height:100%;z-index:10;width:100%;background: rgba(0, 0, 0, 0.5);}

#LoadingContainer{display:none;z-index:11;-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;position:absolute;width:200px;top:50%;height:20px;margin-top:-75px;
margin-left:-100px;left:50%;background: rgba(255, 255, 255, 1);padding: 15px;text-align:center;font-weight: bold;color: #F00;}

#LoadingContainer #img{background:url(./images/loading.gif);height: 32px;border:0px;width: 32px;display:block;float:left;
margin-top:-8px;}

.errorMessage{height: 22px;padding: 5px;color: #F00;font-weight: bold;padding-bottom:5px;}

.tooltip {-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;	background-color:#000;
	border:1px solid #fff;	padding:10px 15px;	width:200px;	display:none;	color:#fff;	text-align:left;	font-size:12px;
	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}