body {
	font-size: 12px;
	margin: 0;
	background: url(images/BG.png);overflow:hidden;
}


#btnTimer{height:100%;width:100%;text-align:center;font-size:150%;	font-weight:bold;}
#slideData{display:none;}
#options{background:black;color:white;position:absolute;display:  bottom:-40px; height:40px; left:40px; right:40px;}

div#center_container {
	/*margin: 0 auto;*/
	height: 100%;
	width: 1024px;
	left: 50%;
	margin-left: -512px;
	position: absolute;


}
#note_container_edit{height: 89%; width:90%;margin-left:5%;margin-top:5%;}
#note_container_save{height: 5%; width:90%; margin-left:5%;}
div#slide_container {
	padding: 18px;
	padding-bottom: 19px;
	width: 640px;
	min-height: 100%;
	float:left;
}


div#slide_current_cont {
	border-radius: 10px;
	box-shadow: 0px 0px 15px #000;
	width: 620px;
	height: 460px;
	background-color: #555;
	margin-bottom: 18px;
	padding: 10px;
}

div#slide_before_cont {
	border-radius: 10px;
	box-shadow: 0px 0px 15px #000;
	width: 290px;
	height: 213px;
	float: left;
	background-color: #555;
	padding: 10px;
	position: relative;
}

div#slide_after_cont {
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #000;
	width: 290px;
	height: 213px;
	margin-left: 20px;
	background-color: #555;
	float: left;
	padding: 10px;
}

div#slide_current {
	width: 620px;
	height: 460px;
	background-color: #fff;
	overflow: hidden;
}

div#slide_before {
	width: 290px;
	height: 213px;
	float: left;
	background-color: #fff;
	overflow: hidden;
}

div#slide_after {
	width: 290px;
	height: 213px;
	background-color: #fff;
	float: left;
	overflow: hidden;
}

div#slide_before_title, div#slide_after_title {
	position:absolute;
	vertical-align: middle;
	opacity: 0.6;
	text-align: center;
	margin-top: 40px;
	font-size: 80px;
	width: 290px;

}

div#stuff_container {
	float: left;
	min-height: 100%;
	width: 330px;
	padding-top: 18px;
	padding-bottom: 19px;
	padding-right: 18px;
}

div#note_container {
	border-radius: 10px;
	width: 320px;
	box-shadow: 0px 0px 15px #000;
	background-color: #555;
	height: 653px;
	margin-bottom: 18px;
	padding: 5px;
}


div#timer_container {
	border-radius: 10px;
	box-shadow: 0px 0px 15px #000;
	width: 330px;
	height: 50px;
	background-color: #222;

}

#timer_control_pic {
	/*margin-left: 10px;
	margin-top: 5px;
	margin-right: 5px;*/
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	width: 45px;
	height: 40px;
	cursor: pointer;
}

#timer_text {
	padding-left: 5px;
	padding-right: 10px;
	height: 50px;
	text-align: center;
	font-size: 40px;
	width: 275px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	display: table-cell;
	background-color: #555;
	vertical-align: middle;
}
