 		<div id="center_container">
			<div id="slideData"></div>     
			<div id="slide_container">
				<!--<div id="slide_before_header" class="slide_header">last slide</div><div id="slide_before_cont"><div id="slide_before"></div></div>-->
				<div id="slide_current_header" class="slide_header">current slide</div>
				<div id="slide_current_cont">
					<div id="slide_current"></div>
				</div>
				<div id="slide_after_header" class="slide_header">next slide</div>
				<div id="slide_after_cont">

					<div id="slide_after"></div>
				</div>
			</div>
		</div>